* { /* In place of * (universal selector) */
    box-sizing:border-box;
    margin: 0;
    padding: 0;

    --new-green:  #596D48;
}

@font-face { /*Import font*/
    font-family: heroFont;
    src: url(./fonts/Norse.otf );
  }
  

.main{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.left-container{
    background-image: url(./images/residence.aviv);
    background-size: no-repeat; /*No repeating img */
    background-size: cover; /*Scales image with same ratio to container*/

    width: 40%;
} 

.hero{

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.hero-back{
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 10rem;
    margin-right: 5rem;

    color: #e5e7eb;
    font-family: heroFont;

    background-color: rgba(26, 25, 25, 0.3);
   width: 100%;
}

.right-container{
  
    display: flex;
    flex-direction: column;
    width: 60%
}
.top{
    height:30%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
    padding-left: 1rem;
    box-shadow: 0 0 10px  #b8bbc0 ;
   
}

.middle{
    height:35%;
}

.middle-form{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;

}

input{
   
    border:1px solid rgb(202, 191, 191);
    border-radius: .25rem;
}

.left{
    display: flex;
    flex-direction: column;

    margin: 2rem;
    gap: 0.5rem;
}
.right{
    display: flex;
    flex-direction: column;

    margin: 2rem;
    gap: 0.5rem;
}

.left > input, .right > input{
    padding: .25rem;
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px #719ECE;
    border-color: #66afe9;
}

input:invalid{
    border-color: solid red;
}
input:valid{
    border-color: solid rgb(61, 185, 99);
}


.bottom{
    height:35%;
    background-color: #dadce0;
    box-shadow: 0 0 10px  #b8bbc0 ;
}

.footer{
    margin-left: 10rem;
    text-decoration: none;
    margin-top: 3rem;
}

.para{
    margin-left: 10rem;
    margin-top: 2rem;
}

.para a{
    text-decoration: none;
}

a{
    color: var(--new-green);
    font-weight: bold;
}

.para a:focus{
    color: rgb(120, 141, 120);
}

.account{
    background-color:var(--new-green);

    border: none;
    padding: 1rem;
    border-radius: .5rem;
    width: 150px;
    color: white;
    font-weight: bold;
}

.account:focus{
    transform: scale(1.015);
    color: rgb(218, 228, 218);
} 

#error{
    color:red;
    font-size: 10px;
    margin: 0;
}

label{
    margin-top: .75rem;
    font-size: 13px;
}